# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

public

src/recognize/database/*
src/recognize/logs/*